<div class="jumbotron">
  <h1>欢迎访问文件流转系统 <small>Document Circulation System(DCS)</small></h1>
  <p>追踪各类公文领导批示、流转去向、办理情况等，紧急、重要任务一目了然，帮助提高工作效率</p>
  <p><%= link_to '现在注册！', signup_path, class: 'btn btn-primary btn-lg' %></p>
</div>
