<h2>市政府领导
</h2>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>姓名</th>
      <th>职务</th>
      <th>待办批示</th>
    </tr>
  </thead>

  <tbody>
    <% @leaders.each do |leader| %>
      <tr>
        <td><%= link_to leader.name, leader.resume %></td>
        <td><%= leader.position %></td>
        <td><%= link_to todo_ins_count(leader), instructions_path(leader_id: leader.id), class: "btn btn-#{level(todo_ins_count(leader))}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

