/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datepicker';
@import 'documents';

p {
  font-size: 1.1em;
}

ul.instruction-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .operation {
      padding: 20px;
      text-align: right;
      .form-done {
        display: inline-block;
      }
    }
    .deadline {
      background-color: inherit;
      margin-left: 5px;
    }
    .deadline.btn-danger {
      color: #d9534f;
    }
    .deadline.btn-warning {
      color: #f0ad4e;
    }
  }
  .leader {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    // margin-left: 60px;
  }
  .timestamp {
    color: #888;
    display: block;
    // margin-left: 60px;
  }
}
