// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#newdoc {
  margin-top: 15px;
}

#fileinfo .panel-body {
  p.little {
    font-size: 0.8em;
    color: #888;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
  }
}

